$progress-height: 20px;
$progress-height-mobile: 30px;
$progress-cursor-width: 10px;
$progress-cursor-width-mobile: 20px;
$progress-bg-color: #333333;
$progress-bar-color: #FF5B51;
$progress-cursor-color: #fff;
$progress-play-pause-padding: 20px;
$progress-play-pause-width: 24px;
$progress-play-pause-height: 34px;
$progress-play-pause-mobile-width: 14px;
$progress-play-pause-mobile-height: 18px;

$screen-tablet-max: 1023px;